* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.tabela-campeonato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.classificacao {
    width: 80%;
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    text-align: center;
    padding: 4px;
}

td, tr {
    border: 1px solid black;
    text-align: center;
    padding: 4px;
}

