* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    color: white;
    padding: 20px;
    background-color: rgb(201, 170, 230);
    text-align: center;
    font-weight: bold;
}

main {
    flex: 1;
    background-color: blueviolet;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
    background-color: rgb(201, 170, 230);
}

h3 {
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}


.galeria {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    padding: 20px;
}

.imagem-galeria {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imagem-galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.5s ease;
}

.imagem-galeria:hover img {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .galeria {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }
}
